<div class="login-card-container">
    <div class="login-card">
        <div class="login-card-header">
            <h1>Entrar</h1>
            
            <form class="login-card-form" [formGroup]="userForm">
                <div class="form-item">
                    <input type="text" placeholder="Digite seu CRM"  required autofocus formControlName="crm">
                </div>
                <button type="submit" (click)="login()">Entrar</button>
            </form>
            <div class="login-card-footer">
                    <p >Nao tem conta? <a routerLink="cadastro" (click)="close()">Crie sua conta</a></p>
            </div>
        </div>
    </div>
</div>