    <div class="container">
        <img src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png">
        <form class="form-card-item">
            <h1><strong>Perfil</strong></h1>
            <div class="form-item">
                <span class="item">Nome: {{user.name}}</span>
            </div>
            <div class="form-item">
                <span class="item">email: {{user.email}}</span>
            </div>
            <div class="form-item">
                <span class="item">Idade: {{user.age}}</span>
            </div>
            <div class="form-item">
                <span class="item">Genero: {{user.gender}}</span>
            </div>
            <div class="form-item">
                <span class="item">CRM: {{user.crm}}</span>
            </div>
            <div class="form-item exit">
                <button  routerLink="/home">Sair</button>
            </div>
        </form>
    </div>