.content{
    margin-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content h1 {
    margin-top: 2%;
    font-size: xxx-large;
    padding-left: 2%;
}
.content h2 {
    font-size: xx-large;
    padding-left: 4%;
}